// Login Pages
body.login-page {
  //background: url(../../img/app-header-bg.jpg) no-repeat center center fixed;
  //background-size: cover;
  background-color: #22A7F0;

  .login-box {
    width: 100%;
    max-width: 320px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 0;

    & > .title {
      margin-bottom: 1em;
    }

    & > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .login-form {
    padding: 0em;

    .login-header {
      margin-bottom: 1.2em;
      font-size: 1.5em;
    }

    .login-body {
      padding: 1.5em;
      border-radius: 1px;
    }

    input {
      margin-bottom: 0.8em;
      margin-top: 0.5em;
      padding: 1.2em 1em;
      font-size: 1.1em;
      border-radius: 1px;
    }
  }

  .login-button {
    .btn {
      padding: 0.5em 2em;
      font-size: 1.1em;
      border-radius: 1px;
      margin-bottom: 0;
    }
  }

  .login-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}