// Checkbox
.checkbox3, .radio3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.checkbox-inline {
  margin-bottom: 5px;
}
.checkbox3 label, .radio3 label  {
  padding: 8px 0 8px 30px;
}
.checkbox3 label::before, .radio3 label::before {
  top: 5px;
}
.checkbox3 label::after, .radio3 label::after {
  top: 5px;
}
.checkbox3 label, .radio3 label , .checkbox-inline, .radio-inline {
  font-weight: normal;
}