$fa-font-path: "../../fonts/fontawesome";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/select2/dist/css/select2";

// Global Elements
html {
  height: 100%
}
body {
  padding-top: 0px;
  height: 100%;
  position: relative;
  font-size: 13px;
}
@import "layout/_wrapper.scss";
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@import "layout/navbar";
@import "layout/sidebar";

/* Main body section */
.app-container .side-body {
  margin-left: 75px;
  margin-right: 15px;

  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.app-container.expanded .side-body {
  margin-left: 260px;
}
@media (max-width: 768px) {
  .navbar {
    padding-left: 0;
    .navbar-header {
      width: auto;
      display: block;
    }
    .navbar-nav {
      width: auto;
      margin: 0;
      & > li {
        display: inline-block;
      }
    }
    .navbar-right {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      .open {
        .dropdown-menu {
          position: absolute;
        }
      }
    }
    .navbar-right.expanded {
      right: 0;
    }
  }
  .app-container {
    .navbar-top {
      min-width: 300px;
    }
    .content-container {
      .side-menu {
        margin-left: -250px;
        width: 0px;
      }
      .side-body {
        margin-left: 10px;
      }
    }
  }
  .app-container.expanded {
    .navbar-top {
      min-width: 480px;
      padding-left: 0px;
    }
    .side-menu {
      margin-left: 0px;
      width: 250px;
    }
    .side-body {
      margin-left: 10px;
    }
  }
  .app-container, .app-container.expanded {
    .app-footer {
      .wrapper {
        padding-left: 25px;
      }
    }
  }
}
@import "components/card";
@import "components/panel";
@import "components/pagination";
@import "components/form";
@import "components/modal";
@import "components/checkbox3";
@import "components/tables";
@import "pages/login";

@media (max-width: 768px) {
  body.login-page {
    .login-form {
      .login-header {
        margin-bottom: 1em;
      }
    }
    .login-box {
      width: 100%;
      max-width: 260px;
    }
  }
}

@import "components/tabs";

@media (max-width: 768px) {
  .step {
    .nav-tabs {

      & > li:after {
        display: none;
      }

      & > li:before {
        display: none;
      }
    }
  }
}

@import "components/loader";
//@import "pages/landing-page";
@import "components/carousel";
@import "helpers/decorations";

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    // margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

@import "themes/flat-blue";
@import "vendor/checkbox3/checkbox3";